.article__title {
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 320px) {
  .article__title {
    font-size: 32px;
    line-height: 35px;
    margin-top: 64px;
    margin-bottom: 40px;
  }
}
