.section-title {
  color: #fff;
  font-size: 96px;
  line-height: 100px;
  text-decoration: none;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  max-width: 720px;
  margin: 58px auto 32px auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .section-title {
    padding: 0 24px;
  }
}

@media screen and (max-width: 550px) {
  .section-title {
    font-size: 45px;
    line-height: 51px;
  }
}

@media screen and (max-width: 320px) {
  .section-title {
    font-size: 40px;
    font-style: normal;
    line-height: 44px;
    letter-spacing: 0em;
    margin-top: 50px;
    margin-bottom: 16px;
  }
}
