.places__url-text {
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-align: left;
  margin-top: 122px;
  margin-bottom: 4px;
}
