.routepp {
  background-image: url(/images/__background.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 740px;
  margin: 92px 48px 0px 48px;
}

.routepp:hover {
  background-color: #2a2c2f;
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .routepp {
    margin: 92px 0px 0px 0px;
    max-height: 640px;
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .routepp {
    margin: 0;
    padding: 0;
    max-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .routepp {
    max-height: 200px;
    max-width: 320px;
  }
}
