.container {
  padding: 0 148px;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 48px;
  }

  .routepp {
    margin: 92px 0px 0px 0px;
    max-height: 640px;
    max-width: 1024px;
  }

  .route__image {
    max-width: 928px;
    max-height: 580px;
  }

  .places__place {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 48px;
  }

  .places__image {
    max-height: 440px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 24px;
  }

  .route {
    padding: 0;
  }

  .routepp {
    margin: 0;
    padding: 0;
    max-height: 480px;
  }

  .routepp__title {
    color: #fff;
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: center;

    padding: 153px 56px 32px 56px;
  }
  .route__image {
    padding: 0px 0px 0px 0px;
    max-width: 768px;
    max-height: 480px;
  }

  .places__place {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 28px;
    grid-row-gap: 48px;
  }

  .places__image {
    max-height: 340px;
  }

  .places__title {
    font-family: Inter;
    font-size: 42px;
    font-style: normal;
    font-weight: 900;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
  }

  .places__paragraph {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }
}

@media screen and (max-width: 320px) {
  .container {
    padding: 0px 16px;
  }
  .header__image {
    max-height: 36px;
    max-width: 156px;
    margin-top: 20px;
  }

  .languages {
    margin-top: 30px;
  }

  .languages__link {
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;
  }

  .section-title {
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 16px;
  }

  .section-subtitle {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 40px;
  }
  .route {
    padding: 0;
    min-height: auto;
  }
  .route__image {
    padding: 0;
    margin: 0;
    max-width: 320px;
    max-height: 200px;
  }

  .route__text {
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-align: left;
    padding: 0 16px;
    margin: 0;
  }

  .article {
    margin-bottom: 64px;
  }

  .article__title {
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 64px;
    margin-bottom: 40px;
  }

  .article__subtitle {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 32px;
  }

  .article__text {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }

  .article__stat-description {
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }

  .article__stat {
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }

  .photo-grid {
    margin-bottom: 64px;
  }

  .places {
    padding: 0;
  }

  .places__place {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'title' 'link-area'
      'image' 'description';
    grid-row-gap: 0px;
    margin-bottom: 0px;
  }

  .places__title {
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 16px;
  }

  .places__title:first-child {
  }

  .places__image {
    max-height: 320px;
    margin-top: 30px;
  }

  .places__url-heading {
    margin-top: 30px;
    padding: 0;
    padding: 0 16px;
  }

  .places__link {
    padding: 0 16px;
  }

  .places__link-area {
  }

  .places__paragraph {
    margin-top: 25px;
    width: 288px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 16px;
  }

  .places__paragraph:first-child {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

    margin-top: 32px;
    padding: 0 16px;
  }

  .places__paragraph:last-child {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

    margin-bottom: 48px;
    padding: 0 16px;
  }

  .routepp {
    max-height: 200px;
    max-width: 320px;
  }

  .routepp__title {
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    max-width: 288px;
    margin-top: 39px;
    padding: 51px 15px 16px 15px;
  }

  .routepp__subtitle {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    max-width: 288px;
    padding: 0px 16px 50px 16px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .footer__link-container {
    display: flex;
    flex-direction: column;
    margin: 64px 0 0 0;
  }

  .footer__author-container {
    text-align: start;
  }

  .footer__author {
    text-align: start;
    margin-left: 16px;
    margin-top: 16px;
  }

  .footer__link {
    margin: 0 0 32px 16px;
  }
}
