.route {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .route {
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .route {
    min-height: auto;
  }
}
