.places__description {
  grid-area: description;
  color: #ffffff;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .places__description {
    font-size: 16px;
    line-height: 26px;
    padding: 0 24px 0 0;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .places__description {
    padding: 0 16px;
  }
}
