.article__subtitle {
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 32px 0;
}

@media screen and (max-width: 320px) {
  .article__subtitle {
    line-height: 30px;
  }
}
